----
# Web Scraping with Python 
----
## Session 1 - Hands On Part


#### Dr. Zeyad Elkelani

----
## Introduction:
----
How to get data from the Internet?
</br> 

Mainly there are two ways to extract data from a given website:
1. **API (Application Programming Interface)**
    - this method allows for data retrieval using a standardized protocols designed by website developers. 
2. **Web Scraping/Harvesting**
    - this method  allows to access the HTML backend of a webpage and extract relevant information/data.


**In this particular workshop, we are going to focus on the second method of web data extraction or "Web Scraping". In future sessions, we will talk about "Web Spiders/Crawlers" which is related to Web Scraping.**

----
## Learning Objectives for this sequence: 
----
- **Session One:** 
  - Understanding Robots.txt and HTTP requests. 
  - Understanding basic components of a webpage and HTML. 
  - Get familiar with Pandas Module. 
  - Parsing html string into Pandas.
  - Parse URL class into Pandas.
  - Parse Tables from Wikipedia into Pandas. 
  - Parse non-Wikipedia Tables into Pandas. 
  - Parse Wiki InfoBoxes.
  - Write html parsed tables into flat csv.
  
</br>

- **Future Sessions:**
  - Advanced understanding of HTML parsing using tagging and CSS selection.
  - Parsing multiple URLs at the same time. 
  - Loop through multiple webpages and extract data (web crawling).
  - Building Web Spiders (Automated Scraping ).
  - Use Advanced Open Source Web Spiders modules (SCrapy). 
  - Use SCrapy Shell.
  
</br> 

**By the end of these workshops, you should be able to build your own scraper/ crawler and schedule your job queries.**

----
## Agenda for Session One
----
    - Setting up working environment
    - What is Robots Exclusion Standard?
    - How does Web Scraping work? (High-Level) 
    - What is inside a Web Page?
    - Parsing HTML tables 
    - Parsing Wiki Tables with Pandas
    - Parsing Wiki Infoboxes
    - Parsing non-Wikipedia Tables
    - Write html tables to csv document

----
## Let's Setup our working environment: 
----
### In this workshop, we will use Python 3.7 to execute commands. 
  - We strongly recommend uisng **Google Colab** for this session.
  - Use the Ipython file sent by QCL prior to the start of the workshop.
  - **At the end of this session, please send us your work on Ipython file qcl@cmc.edu as part of the QCL Digital Badges Program**

</br>

### Installing Packages in COLAB
One of the good things about Google Colab, that it is pre-packaged with several scientific computing Python modules like Numpy, Pandas, and Tensorflow. If you still want to install a package that is not available, you can do so by running a shell command as `!pip install [Package_Name]`


### Jupyter Applications 

- **Install the following packages:**
```
io
pandas
requests
IPython
```
- **Installing Packages from Shell for Project Jupyter:** 
    - `conda install [Package_name]`
    - `pip install [package_name]`

- In case, you want to upgrade/update **pip** itself:
    - Check pip version in your command prompt `pip --version`
    - Then update your pip `pip install --upgrade pip`

- In case, you want to upgrade/update a package:
    - `sudo pip install [package_name] --upgrade`
    - `sudo` will ask to enter your root password to confirm the action.

- In case you do not know the root password (not adminstrator), you should just use virtual environment and this case, use:
    - `pip install [package_name] --upgrade`
    
- To install packages while in Jupyter Kernel, we recommend the following inside .ipynb file: **Shell-like Install**
    - `import sys` 
    - `!conda install --yes --prefix {sys.prefix} <package_name>`
    
    OR
    
    - `import sys`
    - `!{sys.executable} -m pip install <package_name>`

----
## Let's Get Started:
----
- Import packages into the current Jupyter Kernel:

In [0]:
import io
import pandas
import IPython

## What is Robots Exclusion Standard?

In [0]:
# Check cmc.edu

----
## How does Web Scraping work? (High-Level Overview)
----
1. The process of starts by senidng a reuqets to the URL of the domain of interest, **IF HTTP REQUEST IS ALLOWED**, server responds by returning HTML content of the webpage. Such task is done in this workshop using a third-party Python Library.  

2. After rendering the HTML content, next step is to parse the nested content of HTML source code. Thus, we use third-party Python libraries that provide a way to create a netsed/tree structure of the HTML data.

3. There are many HTML parser libraries availabe, `html5lib` is the most used and adavanced one.

4. In order to go through the parse tree created, we will use other third-party Python library to render the contect in a given data type.

----
## What is inside a Web Page? 
----
When you visit a web page, your web browser sends a request to a web server. This request is known as `GET` request. Then the server will send back files that tell our browser how to render a given webpage for us. Generally the rendered files are composed of the following types:
- `HTML`: contain the main content of the page.
- `CSS`: add styling to make the page look nicer.
- `JS`: Javascript files add interactivity to web pages.
- `Images`: image formats, such as JPG and PNG allow web pages to show pictures.

After the browser receives all files, it renders the page in the format maintained by server and displays it to us.

----
## What is HTML?
----
**HyperText Markup Language (HTML)** is a language that web pages are created in. It is not a programming language, it is rather a markup kanguage that instructs a browser on how to layout a content. It does the same task a word processor like Microsoft Word does in terms of making a bold text, create paragraphs, inserting images...etc.

Let's look at the HTML element below:

In [0]:
basic_html = """
<html>
<head>
basic html
</head>
</html>
"""

In [0]:
# use a function to display html elements stored above as a string: 
# We use IPython module here: 
from IPython.display import display_html 

display_html(basic_html, raw = True)

# Raw = TRUE, raw html is used inside this function

In [0]:
simple_html = """
<html>
<head>
</head>
<body>
<p>
Here's a paragraph of text!
</p>
<p>
Here's a second paragraph of text!
</p>
</body>
</html>
"""

In [0]:
# What is different here? 
display_html(simple_html, raw = True)

In [0]:
html_with_link = """
<html>
<head>
</head>
<body>
<p>
Here's a paragraph of text!
<a href="https://www.cmc.edu/">Claremont McKenna College</a>
</p>
<p>
Here's a second paragraph of text!
<a href="https://www.cmc.edu/qcl">Murty Sunak Quantitative and Computing Lab</a> </p>
</body></html>
"""

In [0]:
# What did we add here? 
display_html(html_with_link, raw = True)

## Parsing HTML Tables: 

- In this section we will use Pandas Module
    - Let's look at the `read_html` and `pandas.read_html` functions we will use

- `pandas.read_html` it is a function accepts: A URL, a file-like object, or a raw string containing HTML.

- **Let's start by passing a raw html string:**

In [0]:
html_sample_string = """
<table>
  <thead>
    <tr>
      <th>Programming Language</th>
      <th>Creator</th> 
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td>Dennis Ritchie</td> 
      <td>1972</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>Guido Van Rossum</td> 
      <td>1989</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Yukihiro Matsumoto</td> 
      <td>1995</td>
    </tr>
  </tbody>
</table>
"""

In [0]:
# What is </thead>?
# What is <tr> and <td>
display_html(html_sample_string, raw = True)

Programming Language,Creator,Year
C,Dennis Ritchie,1972
Python,Guido Van Rossum,1989
Ruby,Yukihiro Matsumoto,1995

Let's use `read_html` and use alias for a package

In [0]:
import pandas as pd
l = pd.read_html(html_sample_string)
#l
# What is df?
type(l)
len(l)

1

In [0]:
l
df1 = l[0] 
df1

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

In [0]:
# Check this URL for more information: https://python.swaroopch.com/data_structures.html

In [0]:
# Which language came after 1990?
df1[df1.Year > 1990]

  Programming Language             Creator  Year
2                 Ruby  Yukihiro Matsumoto  1995

- What if our function `pd.read_html` cannot locate the header of the HTML table or, it is missing?

In [0]:
html_string_other = """
<table>
  <tr>
    <td>Programming Language</td>
    <td>Creator</td> 
    <td>Year</td>
  </tr>
  <tr>
    <td>C</td>
    <td>Dennis Ritchie</td> 
    <td>1972</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Guido Van Rossum</td> 
    <td>1989</td>
  </tr>
  <tr>
    <td>Ruby</td>
    <td>Yukihiro Matsumoto</td> 
    <td>1995</td>
  </tr>
</table>
"""

In [0]:
# What is different in this table? What is missing?

In [0]:
pd.read_html(html_string_other)

[                      0                   1     2
 0  Programming Language             Creator  Year
 1                     C      Dennis Ritchie  1972
 2                Python    Guido Van Rossum  1989
 3                  Ruby  Yukihiro Matsumoto  1995]

In [0]:
_pd.read_html(html_string_other)
what_is_this = pd.read_html(html_string_other, header = 0)
type(what_is_this)

df_only = pd.read_html(html_string_other, header = 0)[0]
type(df_only)
df_only

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

Let's Read a table from an existing webpage:

In [0]:
# http://www.contextures.com/xlSampleData01.html

In [0]:
# Let's return a list and df from this website? 
df = pd.read_html('http://www.contextures.com/xlSampleData01.html', header = 0)[0]
df

     OrderDate   Region       Rep     Item  Units  UnitCost    Total
0     1/6/2018     East     Jones   Pencil     95      1.99   189.05
1    1/23/2018  Central    Kivell   Binder     50     19.99   999.50
2     2/9/2018  Central   Jardine   Pencil     36      4.99   179.64
3    2/26/2018  Central      Gill      Pen     27     19.99   539.73
4    3/15/2018     West   Sorvino   Pencil     56      2.99   167.44
5     4/1/2018     East     Jones   Binder     60      4.99   299.40
6    4/18/2018  Central   Andrews   Pencil     75      1.99   149.25
7     5/5/2018  Central   Jardine   Pencil     90      4.99   449.10
8    5/22/2018     West  Thompson   Pencil     32      1.99    63.68
9     6/8/2018     East     Jones   Binder     60      8.99   539.40
10   6/25/2018  Central    Morgan   Pencil     90      4.99   449.10
11   7/12/2018     East    Howard   Binder     29      1.99    57.71
12   7/29/2018     East    Parent   Binder     81     19.99  1619.19
13   8/15/2018     East     Jones   Pencil     35      4.99   174.65
14    9/1/2018  Central     Smith     Desk      2    125.00   250.00
15   9/18/2018     East     Jones  Pen Set     16     15.99   255.84
16   10/5/2018  Central    Morgan   Binder     28      8.99   251.72
17  10/22/2018     East     Jones      Pen     64      8.99   575.36
18   11/8/2018     East    Parent      Pen     15     19.99   299.85
19  11/25/2018  Central    Kivell  Pen Set     96      4.99   479.04
20  12/12/2018  Central     Smith   Pencil     67      1.29    86.43
21  12/29/2018     East    Parent  Pen Set     74     15.99  1183.26
22   1/15/2019  Central      Gill   Binder     46      8.99   413.54
23    2/1/2019  Central     Smith   Binder     87     15.00  1305.00
24   2/18/2019     East     Jones   Binder      4      4.99    19.96
25    3/7/2019     West   Sorvino   Binder      7     19.99   139.93
26   3/24/2019  Central   Jardine  Pen Set     50      4.99   249.50
27   4/10/2019  Central   Andrews   Pencil     66      1.99   131.34
28   4/27/2019     East    Howard      Pen     96      4.99   479.04
29   5/14/2019  Central      Gill   Pencil     53      1.29    68.37
30   5/31/2019  Central      Gill   Binder     80      8.99   719.20
31   6/17/2019  Central    Kivell     Desk      5    125.00   625.00
32    7/4/2019     East     Jones  Pen Set     62      4.99   309.38
33   7/21/2019  Central    Morgan  Pen Set     55     12.49   686.95
34    8/7/2019  Central    Kivell  Pen Set     42     23.95  1005.90
35   8/24/2019     West   Sorvino     Desk      3    275.00   825.00
36   9/10/2019  Central      Gill   Pencil      7      1.29     9.03
37   9/27/2019     West   Sorvino      Pen     76      1.99   151.24
38  10/14/2019     West  Thompson   Binder     57     19.99  1139.43
39  10/31/2019  Central   Andrews   Pencil     14      1.29    18.06
40  11/17/2019  Central   Jardine   Binder     11      4.99    54.89
41   12/4/2019  Central   Jardine   Binder     94     19.99  1879.06
42  12/21/2019  Central   Andrews   Binder     28      4.99   139.72

In [0]:
df.head(11)
df.describe()
df.dtypes

OrderDate     object
Region        object
Rep           object
Item          object
Units          int64
UnitCost     float64
Total        float64
dtype: object

In [0]:
# Let's take a look at the first 10 rows?

In [0]:
# Let's do some stats?

In [0]:
#df.describe()

In [0]:
# Pandas Data Types
#df.dtypes

In [0]:
# What is the average cost per region?

In [0]:
df.groupby('Region').mean()

             Units   UnitCost       Total
Region
Central  49.958333  18.018750  464.127917
East     53.153846   9.143846  461.699231
West     38.500000  53.658333  414.453333

In [0]:
# you are going to learn more about dfs in particular Pandas Numpy Scipy from other workshops such as ML, coding, and Python

In [0]:
# Break 5 mins

##  Parsing Wiki Tables with Pandas
- `read_html documentation`
- We will introduce another function that will help us in reading Wiki Tables:

- In this case, we need to call specific wikipedia webpage to parser function bulit on top of a thrid-party python module, such as `read_html` or `pandas.read_html` functions from Pandas. 
- When passing the URL through parser, we identify exact class to be parsed.
- We know in case of Wikipedia web pages, table class is  called "**wikitable**"

In [0]:
# How to locate Wikitable Class in a Wikipedia Webpage?

In [0]:
#https://en.wikipedia.org/wiki/List_of_African_countries_by_population

In [0]:
# Let's import our function
from pandas.io.html import read_html 
# Define Webpage:
page = 'https://en.wikipedia.org/wiki/List_of_African_countries_by_population'
# Pass arguments: 
wikitable = read_html(page, attrs={"class" : "wikitable"})

In [0]:
len(wikitable)
print ("I got this number {num} of tables from Wikipedia Page".format(num=len(wikitable)))

I got this number 1 of tables from Wikipedia Page

In [0]:
type(wikitable)
wikitable 
df_wikitable = wikitable[0]
#df_wikitable

                      Country(or dependent territory)  ...                                             Source
0                                             Nigeria  ...                                  Official estimate
1                                            Ethiopia  ...                                  Official estimate
2                                               Egypt  ...                          Official population clock
3                    Democratic Republic of the Congo  ...                                  Official estimate
4                                        South Africa  ...                                  Official estimate
5                                            Tanzania  ...                                  Official estimate
6                                               Kenya  ...                                  Official estimate
7                                               Sudan  ...                                  Official estimate
8                                             Algeria  ...                                  Official estimate
9                                              Uganda  ...                     Preliminary 2014 census result
10                                         Morocco[1]  ...                     Preliminary 2014 census result
11                                         Mozambique  ...                                  Official estimate
12                                              Ghana  ...                                  Official estimate
13                                             Angola  ...                     Preliminary 2014 census result
14                                        Ivory Coast  ...                     Preliminary 2014 census result
15                                         Madagascar  ...                                  Official estimate
16                                           Cameroon  ...                                  Official estimate
17                                              Niger  ...                           Final 2012 census result
18                                       Burkina Faso  ...                                  Official estimate
19                                               Mali  ...                           Final 2009 census result
20                                             Malawi  ...                                  Official estimate
21                                             Zambia  ...                                  Official estimate
22                                            Somalia  ...                                  Official estimate
23                                            Senegal  ...                                  Official estimate
24                                               Chad  ...                           Final 2009 census result
25                                           Zimbabwe  ...                           Final 2012 census result
26                                             Rwanda  ...                           Final 2012 census result
27                                            Tunisia  ...                     Preliminary 2014 census result
28                                             Guinea  ...                     Preliminary 2014 census result
29                                              Benin  ...                           Final 2013 census result
30                                            Burundi  ...                                  Official estimate
31                                        South Sudan  ...                                 2008 census result
32                                               Togo  ...                           Final 2010 census result
33                                            Eritrea  ...                                  Official estimate
34                                       Sierra Leone  ...                                  Official estimate
35                                              Libya  ...                                 2006 census result
36                              Republic of the Congo  ...                                 2007 census result
37                           Central African Republic  ...                                                [1]
38                                            Liberia  ...                           Final 2008 census result
39                                         Mauritania  ...                                  Official estimate
40                                            Namibia  ...                                  Official estimate
41                                           Botswana  ...                           Final 2011 census result
42                                            Lesotho  ...                                  Official estimate
43                                             Gambia  ...  Preliminary 2013 census result[permanent dead ...
44                                              Gabon  ...                     Preliminary 2013 census result
45                                      Guinea-Bissau  ...                                  Official estimate
46                                          Mauritius  ...                                  Official estimate
47                                  Equatorial Guinea  ...                     Preliminary 2015 census result
48                                           Eswatini  ...                                  Official estimate
49                                           Djibouti  ...                                  Official estimate
50                                   Runion (France)  ...                                  Official estimate
51                                            Comoros  ...                                  Official estimate
52                                         Cape Verde  ...      Final 2010 census result[permanent dead link]
53                                  Western Sahara[2]  ...                     Preliminary 2014 census result
54                                   Mayotte (France)  ...                                 2012 census result
55                              So Tom and Prncipe  ...                           Final 2012 census result
56                                         Seychelles  ...                           Final 2010 census result
57  Saint Helena, Ascension and Tristan da Cunha (UK)  ...                                 2016 census result

[58 rows x 4 columns]

In [0]:
# How many tables did we get?

In [0]:
#wikitable_df = wikitable[0]
#wikitable_df

In [0]:
# Let's use pd.read_html:

In [0]:
#https://en.wikipedia.org/wiki/Timeline_of_programming_languages

In [0]:
list_wiki = pd.read_html('https://en.wikipedia.org/wiki/Timeline_of_programming_languages')
len(list_wiki)

13

In [0]:
# Let's look at the length of our dfs list?

In [0]:
#type()

In [0]:
list_wiki[12]

                            vteProgramming languages                         vteProgramming languages.1
0                        Comparison Timeline History                        Comparison Timeline History
1  APL Assembly BASIC C C++ C# COBOL Elixir Fortr...  APL Assembly BASIC C C++ C# COBOL Elixir Fortr...
2  Category  Lists Alphabetical Categorical Gener...  Category  Lists Alphabetical Categorical Gener...

In [0]:
#type(list[11])

In [0]:
# Let's merge them all together by row:
merged_long_df = pd.concat(list_wiki[4:12])
#merged_long_df

       Year  ...                                     Predecessor(s)
0      1804  ...                             none (unique language)
1   194345  ...                             none (unique language)
2   194346  ...                             none (unique language)
3      1946  ...                                ENIAC coding system
4      1946  ...                                ENIAC coding system
5      1947  ...                                ENIAC coding system
6      1948  ...                       Analytical Engine order code
7      1948  ...                                ENIAC coding system
8      1948  ...                             none (unique language)
9      1949  ...                                   ENIAC Short Code
10     Year  ...                                     Predecessor(s)
0      1950  ...                                         Brief Code
1      1950  ...                                                ARC
2      1951  ...                                         Plankalkl
3      1951  ...                             none (unique language)
4      1951  ...                                         Short Code
5      1951  ...                                              EDSAC
6      1951  ...                                  CPC Coding scheme
7      1951  ...                                         Plankalkl
8      1951  ...                                         Short Code
9      1951  ...                             none (unique language)
10     1951  ...                                              EDSAC
11     1951  ...                                              EDSAC
12     1951  ...                             none (unique language)
13     1952  ...                                         Short Code
14     1952  ...                                  CPC Coding scheme
15     1952  ...                                         SORT/MERGE
16     1952  ...                             none (unique language)
17     1953  ...                             none (unique language)
18     1953  ...                             none (unique language)
..      ...  ...                                                ...
1      2011  ...                                                NaN
2      2011  ...                                               Java
3      2011  ...                 Java, JavaScript, CoffeeScript, Go
4      2011  ...                                 C++, Standard C, C
5      2011  ...                      Java, Scala, Groovy, C#, Gosu
6      2011  ...                                  Rebol, Scala, Lua
7      2011  ...                                                NaN
8      2011  ...                          OCaml, Erlang, JavaScript
9      2012  ...                              Erlang, Ruby, Clojure
10     2012  ...                    Haskell, Standard ML, OCaml, F#
11     2012  ...                           JavaScript, CoffeeScript
12     2012  ...  MATLAB, Lisp, C, Fortran, Mathematica[9] (stri...
13     2012  ...                                                NaN
14     2012  ...             Ada 2005, ISO/IEC 8652:1995/Amd 1:2007
15     2013  ...                                                NaN
16     2013  ...                Swift (parallel scripting language)
17     2014  ...                      Ruby, C, Rust, Go, C#, Python
18     2014  ...                                                PHP
19     2014  ...  Objective-C, Rust, Haskell, Ruby, Python, C#, CLU
20     2014  ...                                 C++, Standard C, C
21     2015  ...                        Perl, Haskell, Python, Ruby
22     2015  ...                                                NaN
23     2016  ...                              JavaScript, OCaml[11]
24     2016  ...  Lua, Python, Ruby, C, C#, BASIC, QML, xBase, S...
25     2017  ...                                 C++, Standard C, C
26     2017  ...                     Java, Javascript, Go, Rust, C#
27     2018  ...                                                NaN
28     2018  ...                                       Fortran 2008
29     2019  ...                                           Go, Rust
30     Year  ...                                     Predecessor(s)

[399 rows x 4 columns]

In [0]:
# Remove the last row? 
merged_long_df = merged_long_df[merged_long_df.Year != 'Year']
merged_long_df

       Year  ...                                     Predecessor(s)
0      1804  ...                             none (unique language)
1   194345  ...                             none (unique language)
2   194346  ...                             none (unique language)
3      1946  ...                                ENIAC coding system
4      1946  ...                                ENIAC coding system
5      1947  ...                                ENIAC coding system
6      1948  ...                       Analytical Engine order code
7      1948  ...                                ENIAC coding system
8      1948  ...                             none (unique language)
9      1949  ...                                   ENIAC Short Code
0      1950  ...                                         Brief Code
1      1950  ...                                                ARC
2      1951  ...                                         Plankalkl
3      1951  ...                             none (unique language)
4      1951  ...                                         Short Code
5      1951  ...                                              EDSAC
6      1951  ...                                  CPC Coding scheme
7      1951  ...                                         Plankalkl
8      1951  ...                                         Short Code
9      1951  ...                             none (unique language)
10     1951  ...                                              EDSAC
11     1951  ...                                              EDSAC
12     1951  ...                             none (unique language)
13     1952  ...                                         Short Code
14     1952  ...                                  CPC Coding scheme
15     1952  ...                                         SORT/MERGE
16     1952  ...                             none (unique language)
17     1953  ...                             none (unique language)
18     1953  ...                             none (unique language)
19     1954  ...                             none (unique language)
..      ...  ...                                                ...
0      2010  ...  Alef, C++, Camlp4, Erlang, Hermes, Limbo, Napi...
1      2011  ...                                                NaN
2      2011  ...                                               Java
3      2011  ...                 Java, JavaScript, CoffeeScript, Go
4      2011  ...                                 C++, Standard C, C
5      2011  ...                      Java, Scala, Groovy, C#, Gosu
6      2011  ...                                  Rebol, Scala, Lua
7      2011  ...                                                NaN
8      2011  ...                          OCaml, Erlang, JavaScript
9      2012  ...                              Erlang, Ruby, Clojure
10     2012  ...                    Haskell, Standard ML, OCaml, F#
11     2012  ...                           JavaScript, CoffeeScript
12     2012  ...  MATLAB, Lisp, C, Fortran, Mathematica[9] (stri...
13     2012  ...                                                NaN
14     2012  ...             Ada 2005, ISO/IEC 8652:1995/Amd 1:2007
15     2013  ...                                                NaN
16     2013  ...                Swift (parallel scripting language)
17     2014  ...                      Ruby, C, Rust, Go, C#, Python
18     2014  ...                                                PHP
19     2014  ...  Objective-C, Rust, Haskell, Ruby, Python, C#, CLU
20     2014  ...                                 C++, Standard C, C
21     2015  ...                        Perl, Haskell, Python, Ruby
22     2015  ...                                                NaN
23     2016  ...                              JavaScript, OCaml[11]
24     2016  ...  Lua, Python, Ruby, C, C#, BASIC, QML, xBase, S...
25     2017  ...                                 C++, Standard C, C
26     2017  ...                     Java, Javascript, Go, Rust, C#
27     2018  ...                                                NaN
28     2018  ...                                       Fortran 2008
29     2019  ...                                           Go, Rust

[391 rows x 4 columns]

In [0]:
# In what year was Julia created?

In [0]:
merged_long_df[merged_long_df.Name == "Julia"].Year

12    2012
Name: Year, dtype: object

In [0]:
# Can we read tables in different languages?
# How about encoding issues?

- Another way to get HTML elements:
    - Send Request to Wikipedia Server and get HTML elements
    - Read HTML document with Pandas.

In [0]:
'https://en.wikipedia.org/wiki/Python_(programming_language)'

In [0]:
# here we import requests package: 
import requests 
request = requests.get('https://en.wikipedia.org/wiki/Python_(programming_language)')
#request.text
#type(request.text)
#type(request)

In [0]:
type(request)

requests.models.Response

In [ ]:
request.text

392286

In [0]:
list_new = pd.read_html(request.text)
len(list_new)

8

In [0]:
# Try this table?
# https://en.wikipedia.org/wiki/List_of_footballers_with_the_most_official_appearances

In [0]:
# Which position stay as a footballer the most?

In [0]:
# Task 10 - 15 mins

### Parse Wiki Infoboxes
- What if you are interested in Wiki Infobox not a table
    - You can identify wikinfobox on a specific wiki page and pass it through `read_html` function

In [0]:
# page = 'https://en.wikipedia.org/wiki/Claremont,_California'

In [0]:
# len(infobox)

In [0]:
# infobox[0]

In [0]:
# infobox[0][9:26]

## Parsing non-Wikipedia Tables

In [0]:
# Let's get some financial data, say Dow Jones big 30 stock market prices: 
# https://money.cnn.com/data/dow30/

In [0]:
page = 'https://money.cnn.com/data/dow30/'
dowjones_list = read_html(page, attrs={"class" : "wsod_dataTable wsod_dataTableBig"})

len(dowjones_list)

1

In [0]:
dow30 = dowjones_list[0]

file_name = './dow30.csv'
dow30.to_csv(file_name, sep=',', encoding='utf-8')

In [0]:
# Let's try this website: 
from pandas.io.html import read_html
page = 'https://www.wunderground.com/weather/us/ca/claremont/91711'
# call table class:  
table = read_html(page, index_col=0, attrs={"class":"mat-table"})

## Write html tables to csv/excel

In [0]:
# Find your csv? View it